#container {
    padding-left: 30px;
    padding-right: 30px;
}

.uk-button-success {
    color: #fff;
    background: #32d296;
}

a.uk-button-success:hover {
    color: #fff;
}

table, 
th {
    text-align: center!important;
}
footer {
    margin-top: 100px;
}

/* Better calendar */

.ui-widget-content {
    border: 0;
    background: #f8f8f8;
    color: #666;
}

.ui-widget-header {
    border: 0;
    background: #f8f8f8;
    color: #666;
}

.ui-widget-header .ui-state-default {
    border: 0;
    background: #ddd;
    color: #666;
}

/* Left side date */
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 0;
    background: #fff;
}

.ui-button-icon-primary.ui-icon.ui-icon-seek-prev {
    color: #fff;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 0;
    background: #ccc;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 0;
    background: rgba(0,0,0,0.1)
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0;
    background: #ff0;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 0;
    background: #00f;
}

.ui-widget-overlay {
    border: 0;
    background: #0f0;
}

.ui-widget-shadow {
    border: 0;
    background: #f00;
}

.wc-grid-timeslot-header {
    background: #fff;
}

.wc-scrollable-grid .wc-day-column-first {
    border-width: 0;
}

.wc-header .wc-today.wc-day-column-header {
    border-width: 0;
}

.wc-cal-event .wc-time {
    border: 0;
}